<h1>Welcome to the FlatIron School</h1>

<h3>Feel free to take a look at what we offer!</h3>

<a href='/students'>Students</a><br>
<a href='/instructors'>Instructors</a><br>
<a href='/courses'>Courses</a>
